.modale{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 2;
  display: grid;
  /* grid-template-columns: auto 50% auto;
  grid-template-rows: auto 50% auto; */
  grid-template-columns: auto auto auto;
  /* grid-template-rows: auto auto auto; */
}

.modale__pannello{
  height: fit-content;
  max-height: 80%;
  width: 60%;
  border-radius: 1rem;
  grid-column: 2;
  /* grid-row: 2; */
  background-color: white;
  display: grid;
  grid-template-columns: 3vmax auto 3vmax;
  grid-template-rows: 3vmax auto 3vmax;
}

.modale__pannello--close{
  grid-column: 3;
  grid-row: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.modale__pannello--body{
  grid-column: 2;
  grid-row: 2;
}

/* ----------------------IPAD: potrait---------------------- */
@media
/* only screen and (min-device-width: 700px) and (max-device-width: 900px) and (orientation:portrait)  */
all and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait)
{
  .modale{
    grid-template-columns: auto 80% auto;
    grid-template-rows: auto 80% auto;
  }
}

/* ----------------------IPAD: landscape---------------------- */
@media
/* only screen and (min-device-width: 901px) and (max-device-width: 1024px) and (orientation:landscape)  */
all and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape)
{
  .modale{
    grid-template-columns: auto 80% auto;
    grid-template-rows: auto 80% auto;
  }
}

/* ----------------------CELLULARI: potrait---------------------- */
@media
/* only screen and (max-width: 414px) and (orientation:portrait)  */
all and (max-width: 480px) and (orientation:portrait)
{
  .modale{
    grid-template-columns: auto 80% auto;
    grid-template-rows: auto 80% auto;
  }
  .modale__pannello{
    width: 95%;
    max-height: 80%;
    height: 100%;
  }
}

/* ----------------------CELLULARI: landscape---------------------- */
@media
/* only screen and (min-device-width: 415px) and (max-device-width: 699px) and (orientation:landscape)  */
all and (max-width: 950px) and (max-height: 400px) and (orientation:landscape)
{
  .modale{
    grid-template-columns: auto 80% auto;
    grid-template-rows: auto 80% auto;
  }
  .modale__pannello{
    max-height: 80%;
    height: 100%;
    width: 90%;
  }
}
