<modale #modalLogout>
  <button class="modale--apertura" *ngIf="isDesktop; else phonebutton" mat-stroked-button style="width:7vw">
    <i class="bi bi-door-open"></i> esci
  </button>

  <h2 class="modale--header m-0">Logout</h2>

  <div class="modale--contenuto">
    <div class="py-3 flex justify-content-center align-items-center">
      <p>Vuoi uscire?</p>
    </div>

    <div class="py-3 flex justify-content-center align-items-center">
      <button type="button" class="btn btn-link" (click)="modalLogout.hidden=true">Indietro</button>
      <button type="button" class="btn btn-danger" (click)="userLogout()">Esci</button>
    </div>
  </div>
</modale>

<ng-template #phonebutton>
  <button class="modale--apertura" mat-icon-button>
    <i class="bi bi-door-open"></i>
  </button>
</ng-template>
