<div class="m-0 grid">
  <div class="p-0 lg:col-2 md:col-2 col-12 lg:text-lg md:text-lg sm:text-lg  ">
    <div class="corpo-sx box shadow-7 border-round test">
      <div class="flex align-items-center justify-content-center align-content-center" style="height: 100%;">
        <div class="grid corpo-centrale--box">
          <!-- Titolo -->
          <div class="m-0 p-0 col-12 flex align-items-center justify-content-center align-content-center">
            <!-- <h3>Corpo sinistro</h3> -->
          </div>

          <!-- Pulsantiera -->
          <div class="col-12 grid m-0 flex align-items-center justify-content-center align-content-center">

            <!-- HOME -->
            <div class="col-3 lg:col-12 md:col-12 flex align-items-center justify-content-center align-content-center">
              <button-home></button-home>
            </div>

            <!-- SCELTA PG -->
            <div class="col-3 lg:col-12 md:col-12 flex align-items-center justify-content-center align-content-center">
              <button-choice-menu></button-choice-menu>
            </div>

            <!-- PERSONAGGIO -->
            <div class="col-3 lg:col-12 md:col-12 flex align-items-center justify-content-center align-content-center">
              <button-sheet></button-sheet>
            </div>

            <!-- IMPOSTAZIONI UTENTE -->
            <div class="col-3 lg:col-12 md:col-12 flex align-items-center justify-content-center align-content-center">
              <button-settings></button-settings>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenuto -->
  <div class="p-0 px-2 lg:col-10 md:col-10 col-12 lg:text-lg md:text-lg sm:text-lg  ">
    <div class="corpo-rimanente box shadow-7 border-round test ">
      <div class="flex align-items-center justify-content-center align-content-center" style="height: 100%;">
        <div class="corpo-centrale--box w-full" >
          <div class="m-0 p-3  flex align-items-center justify-content-center align-content-center">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
